USE [MASAttendance]
GO
/****** Object:  StoredProcedure [Managements].[SpVacation_GetById]    Script Date: 22/3/2022 1:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adnan Salah
-- Create date: 02/07/2012
-- Description:	get vacation by id
-- =============================================
CREATE PROCEDURE [Managements].[SpVacation_GetById]
(
 @VacationId     int = NULL
)
WITH EXECUTE AS 'dbo'
AS
BEGIN
     SET NOCOUNT ON;
     
    -- Declariations
    DECLARE @RowEffected int
    


    BEGIN TRY
		SELECT [VacationId]
			  ,[EmployeeId]
			  ,[TypeId]
			   ,CASE  
				  WHEN AltEmployeeId = EmployeeId THEN 0
				  ELSE
				  AltEmployeeId END AS AltEmployeeId 
			  ,[EffectiveDate]
			  ,[DateExpire]
			  ,[DateOfReturn]
			  ,[Note]
			  ,[Address]
			  ,Contact
			  ,[AddedUserAccountId]
			  ,[UpdatedUserAccountId]
			  ,[AddedDate]
			  ,[UpdatedDate]
			  ,[VersionNo]
		  FROM  [Managements].[Vacation]
		 WHERE VacationId = @VacationId		        				      
		

		 RETURN     
    END TRY
    BEGIN CATCH
        EXECUTE [Common].[SpCommon_LogError];
        RETURN    
    END CATCH
END






GO
