USE [MASAttendance]
GO
/****** Object:  StoredProcedure [Managements].[SpHoliday_GetById]    Script Date: 22/3/2022 1:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adnan Salah
-- Create date: 02/07/2012
-- Description:	get Holiday
-- =============================================
CREATE PROCEDURE [Managements].[SpHoliday_GetById]
(
 @HolidayId      int = NULL
)
WITH EXECUTE AS 'dbo'
AS
BEGIN
    SET NOCOUNT ON;
     
    BEGIN TRY	
		SELECT [HolidayId]
			  ,[HolidayName]
			  ,[EffectiveDate]
			  ,[DateExpire]
			  ,[Note]
			  ,[AddedUserAccountId]
			  ,[UpdatedUserAccountId]
			  ,[AddedDate]
			  ,[UpdatedDate]
			  ,[VersionNo]
		  FROM  [Managements].[Holiday]
		 WHERE [HolidayId] = @HolidayId
		 
		RETURN    
    END TRY
    BEGIN CATCH
         EXECUTE [Common].[SpCommon_LogError];
        RETURN    
    END CATCH
END






GO
