USE [MASAttendance]
GO
/****** Object:  StoredProcedure [Managements].[SpHoliday_Insert]    Script Date: 22/3/2022 1:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adnan Salah
-- Create date: 02/07/2012
-- Description:	Insert a new Holiday
-- =============================================
CREATE PROCEDURE [Managements].[SpHoliday_Insert]
(
 @HolidayId      int = NULL OUTPUT, 
 @HolidayName    nvarchar(100) = NULL,
 @EffectiveDate  datetime,
 @DateExpire     datetime,
 @Note           nvarchar(300),


 @UserAccountId  int = NULL,
 @FieldInError   nvarchar(50) = '' OUTPUT,
 @RMsgId         int = NULL OUTPUT,
 @RMessage       nvarchar(200) = '' OUTPUT, 
 @RC             int = NULL OUTPUT
)
WITH EXECUTE AS 'dbo'
AS
BEGIN
     SET NOCOUNT ON;
     
    -- Declariations
    DECLARE @RowEffected int
    
    -- Initializations        
    SET @RC = 1 -- Assume Falure Run     
    SET @RowEffected = 0
    SET @RMessage = ''
    SET @RMsgId = 0
        
    BEGIN TRY	
		INSERT INTO  [Managements].[Holiday]
				   ([HolidayName]
				   ,[EffectiveDate]
				   ,[DateExpire]
				   ,[Note]
				   ,[AddedUserAccountId]
				   ,[UpdatedUserAccountId]
				   ,[AddedDate]
				   ,[UpdatedDate])
			 VALUES
				   (@HolidayName, 
				    @EffectiveDate, 
				    @DateExpire, 
				    @Note, 
				    @UserAccountId,
				    @UserAccountId,
				    GETDATE(),
				    GETDATE())				        
				        
		-- Save The New ID Value
		SET @HolidayId = SCOPE_IDENTITY()
		
		-- Save Number of Rows Affected
		SET @RowEffected = @@RowCount
		
		IF @RowEffected > 0 AND @@ERROR = 0
		BEGIN -- Succeeded
		  SET @RC = 0 
		  SET @RMsgId = 1  -- تمت عملية التحديث بنجاح
		  SET @RMessage = (SELECT MsgText 
		                     FROM  [common].[CustomMessage] 
		                    WHERE [MsgId] = @RMsgId)
		  --RETURN
		END
		ELSE
		BEGIN -- Failed
		  SET @RMsgId = 2 --  فشلت عملية تحديث البيانات
		  SET @RMessage = (SELECT MsgText 
		                     FROM  [common].[CustomMessage] 
		                    WHERE [MsgId] = @RMsgId)
		  RETURN
       END 
	   
	   DECLARE @AttendanceDate AS DATE=@EffectiveDate
	   DECLARE @Today as Date=GETDATE()

	   WHILE @AttendanceDate<=@Today  AND @AttendanceDate <= @DateExpire  
		BEGIN
			EXEC logs.SpProcessAttendance @AttendanceDate
			SET @AttendanceDate=DATEADD(day,1,@AttendanceDate )
		END   
		    
    END TRY
    BEGIN CATCH
         EXECUTE [Common].[SpCommon_LogError];
         SET @RMsgId = 3  --  حدث خطاء في إجراء قاعدة البيانات - الرجاء الإتصال بمسئول النظام للمساعدة
		 SET @RMessage = (SELECT MsgText 
		                    FROM  [common].[CustomMessage] 
		                   WHERE [MsgId] = @RMsgId)
        RETURN    
    END CATCH
END






GO
