<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADBCAWkZ2KkOK6QdcBvycKAQAAAACAAAAAAADZgAAwAAAABAAAACvmfuVIKzCj2yGq4X2mgedAAAAAASAAACgAAAAEAAAALnWCa60NoxXk3LmR4H6XEowAAAAT3xsLM7Bp9buR3veaeoPGwrx0tRGRb52dOPz8ZMi8RC4REYxuonzTgqPjUgNC4bQFAAAALq9XjF5npbNiHY9gC9jbDSLCc4H</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>